<div class="container">
  <div id="map" class="map"></div>
  <div id="popup" class="ol-popup">
    <%= form_tag 'locations', name: 'share-location', class: 'form' do %>
      <%= select_tag 'user_ids[]', options_for_select(@users.collect{ |u| [u.name, u.id] }), :multiple => true,
      :prompt => "-- Share Public --", class: 'form-control' %>

       <%= button_tag 'Share', class: 'share-btn btn btn-success btn-sm' %>
    <% end %>
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</div>

<script type="text/javascript">
  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([79.088860, 21.146633]),
      zoom: 4
    })
  });
</script>